.forecast-container {
  padding: 20px;
  margin-bottom: 60px;
  background-color: #f0f4f8;
}

.forecast-inner-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  margin-bottom: 60px;
  background-color: #f0f4f8;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.forecast-title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  max-height: 50px;
  grid-column: 1 / -1;
}

@media (max-width: 410px) {
  .forecast-container {
    padding-left: 8px;
    padding-right: 8px;
  }
}